<h1><%= title %> </h1>
<p>Author: <%= author %> </p>
<div id="article">
    <p><%= article %> </p>
</div>

<%- include('./logout') %> 
<%- include('./comment') %>
<%- include('./navigation') %> 



<div class="rowFlex absolute" style="top: 0; left: 80px; height: 100px;">

        <div class="iconCircle colFlex relative unliked" onclick="upLikes('<%=title%>')">
            <i class="fas fa-thumbs-up"></i>
            <% %>
            <p class="rowFlex" id="likeCount"><%= likes %> </p>
        </div>

    <form action="">
        <div class="iconCircle colFlex" id="commentCircle" onclick="loadComments()">
            <i class="fas fa-comment-dots"></i>
        </div>
    </form>
</div>