<h1><%= title %> </h1>
<div class="rowFlex">
    <p>Author: </p>
    <a style="margin-left: -10px; margin-top: -3px; padding: 0;" href="/profile/<%=username %> ">
        <p><%= username %></p>
    </a>
</div>
<div id="article">
    <p><%= article %> </p>
</div>

<%- include('./logout') %> 
<%- include('./comment') %>
<%- include('./navigation') %> 



<div class="rowFlex absolute" style="top: 0; left: 80px; height: 100px;">

        <div class="iconCircle colFlex relative unliked" onclick="upLikes('<%=title%>')">
            <i class="fas fa-thumbs-up"></i>
            <p class="rowFlex" id="likeCount"><%= likes %> </p>
        </div>

    <form>
        <div class="iconCircle colFlex" id="commentCircle" onclick="loadComments()">
            <i class="fas fa-comment-dots"></i>
        </div>
    </form>
</div>