<div class="rowFlex" class="articleHolder" style="width: 100%;">
    <% if(articles) {  %>
        <% for(let counter = 0; counter < articles.length; counter++) {%>
                <div class="card">
                        <div class="leftCard colFlex">
                            <div class="innerCard colFlex">
                                <div class="profilePicture">
                                    <i class="<%= icons[counter] %>"></i>
                                </div>
                                <!-- <i class="far fa-user-circle" style="color: white; font-size: 60px;"></i> -->
                                <a href="/profile/<%= articles[counter].username %> ">
                                    <h3 style="margin-top: 8px;"><%=articles[counter].username %> </h3>
                                </a>
                                <p class="date"><%=articles[counter].date%></p>
                            </div>
                        </div>
                    <a href="/article/<%=articles[counter].title %>">
                        <div class="rightCard colFlex">
                            <h2 class="aquaText" style="text-align: center;"><%=articles[counter].title %> </h2>
                            <p class="caption"><%= articles[counter].caption %> </p>
                            <div class="rowFlex">
                                
                                <% if(articles[counter].keywords) {%>
                                    
                                <% for(let i = 0; i < articles[counter].keywords.length; i++) {%>
                                     
                                    <div class="keywords colFlex">
                                        <p style="margin: 0; padding: 0;"><%= articles[counter].keywords[i] %> </p>
                                    </div>

                                <% } %>  
                                <% } %> 
                            </div>
                        </div>
                    </a>
                </div>

        <% } %> 
    <% } %>  

</div>