<%- include('./navigation') %> 
<%- include('./logout') %> 
<div class="colFlex">
    <div class="profilePic colFlex">
        <i class="bi bi-person-fill"></i>
    </div>
    <h2 style="color: gray; font-weight: lighter;"><%= user.username %> </h2>
    <h1><%= user.first%> <%= user.last %></h1>
    <div class="rowFlex">
        <div>
            <p>Followers: >>></p>
        </div>
        <div>
            <p>Following: >>></p>
        </div>
    </div>
    <h3>Posts</h3>
    
    <%- include('./card') %> 
    
</div>