<%- include('./navigation') %> 
<%- include('./logout') %> 

<div id="followers" style="display: none;" class="engagementCard hide">
    <div class="profileSubCard">
    <% if(typeof user.followers.length != 'undefined') {%> 
        <% for(let counter = 0; counter < user.followers.length; counter++) {%> 
            <% let iconIndex = 0; let valid = false; let i = 0;%> 
            <% hashMap.forEach((temp)=>
            {
                if(temp.username == user.followers[counter])
                {
                    iconIndex = i;
                }
                i++;
            })%>
            <% console.log(iconIndex) %> 
            <div>
                <i class="<%=hashMap[iconIndex].icon%>"></i><a href="/profile/<%= user.followers[counter]%>"><%= user.followers[counter]%></a>
            </div>
        <%  }%> 
    <% } %> 
    </div>
    <div class="closeBtn" style="position: unset; margin-top: -380px; margin-left: 15px;" onclick="toggle('#followers')">
        <i class="far fa-times-circle" style="color: white;"></i>
    </div> 
</div>

<div id="following" style="display: none;" class="engagementCard hide">
    <div class="profileSubCard">
         
    <% if(typeof user.following.length != 'undefined') {%> 
        <% for(let counter = 0; counter < user.following.length; counter++) {%> 
            <div>
                <i class="bi bi-person-fill"></i><a href="/profile/<%= user.following[counter]%>"><%= user.following[counter]%></a>
            </div>
        <%  }%> 
    <% } %> 
    </div>
    <div class="closeBtn" style="position: unset; margin-top: -380px; margin-left: 15px;" onclick="toggle('#following')">
        <i class="far fa-times-circle" style="color: white;"></i>
    </div> 
</div>
<div class="colFlex">
    <%- include('./profilepic') %> 
    <h1><%= user.first%> <%= user.last %></h1>
    <div class="rowFlex" style="margin-bottom: 20px;">
        <div>
            <p>Followers: <span class="aquaText hoverable" onclick="toggle('#followers')"><%= user.followers.length %> </span></p>
        </div>
        <div>
            <p>Following: <span class="aquaText hoverable" onclick="toggle('#following')"><%= user.followers.length %> </span></p>
        </div>
    </div>
    <%- include('./card') %> 
</div>