<%- include('./navigation') %> 
<%- include('./logout') %> 

<div class="rowFlex">
    <div class="colFlex">
        <h1>Biography</h1>
        <textarea name="biography" id="biography" cols="30" rows="10"><%= biography %></textarea>
    </div>
    <form action="/profile/image" method="post" enctype="multipart/form-data" style="z-index: 100;">
        <h1>Profile Picture</h1>
        <input type="file" name="avatar">
        <input type="submit" value="Upload">
    </form><!--
    <div class="grid colFlex">
        <p style="display: none;" id="helper"><%= icon %></p>
        <h1>Icon</h1>
        <div class="rowFlex">
            <div class="iconSquare hoverable"><i class="bi bi-github"></i></div>
            <div class="iconSquare hoverable"><i class="bi bi-git"></i></div>
            <div class="iconSquare hoverable"><i class="bi bi-cpu-fill"></i></div>
        </div>
        <div class="rowFlex">
            <div class="iconSquare hoverable"><i class="bi bi-discord"></i></div>
            <div class="iconSquare hoverable"><i class="bi bi-robot"></i></div>
            <div class="iconSquare hoverable"><i class="bi bi-server"></i></div>
        </div>
        <div class="rowFlex">
            <div class="iconSquare hoverable"><i class="bi bi-stack-overflow"></i></div>
            <div class="iconSquare hoverable"><i class="bi bi-controller"></i></div>
            <div class="iconSquare hoverable"><i class="bi bi-dpad-fill"></i></div>
        </div>
    </div> -->
    <!-- <div class="colFlex" style="margin: 0 40px;">
        <h1>Color Scheme</h1>
        <input type="color" value="<%= color %> " id="color">
    </div> -->
</div>


<div id="submitBtn" style="margin-top: 20px;" onclick="updateProfile('<%= username%>')">
    <p>Update</p>
</div>